<div id="content" ng-controller="picrossCtrl">
    <table id="picrossTable" ng-show="loaded">
        <!-- column labels -->
        <tr>
            <td class="rowLabel"></td>
            <td ng-repeat="label in colLabels track by $index" class="colLabel">
                <div ng-repeat="val in label track by $index" class="colcelldiv cell"
                     ng-class="colLabelStatus[$parent.$index] | labelClass">
                    {{ val }}
                </div>
            </td>
        </tr>

        <tr ng-repeat="_ in range(table.r) track by $index">
            <!-- row labels -->
            <td class="rowLabel">
                <div ng-repeat="val in rowLabels[$index] | reverse track by $index"
                     ng-class="rowLabelStatus[$parent.$index] | labelClass"
                     class="cell rowcelldiv">
                    {{ val }}
                </div>
            </td>

            <td class="cell cellborder"
                ng_repeat="_ in range(table.c) track by $index"
                ng-class="table.getCellStatus($parent.$index, $index) | cellClass"
                ng-click="pressedCell($parent.$index, $index)">
            </td>
        </tr>
    </table>

</div>