body
{
    margin: 0;
    padding: 0;
    background-color: #ffd8a6;
}

#main-form
{
    text-align: center;
    margin: 30px 0;

    input
    {
        width: 100px;
    }
}

.cell
{
    width: 50px;
    height: 50px;
    font-family: cursive;
}

.cell-border
{
    border: 1px solid black;
}

.row-label-cell
{
    @extend .cell;
    display: inline-block;
    text-align: center;
}

.label_disabled
{
    color: gray;
}

.label_wrong
{
    color: red;
}

.col-label-cell
{
    @extend .cell;
    /*transform: rotate(90deg);*/
}

#picrossTable
{
    margin: auto;
    user-select: none;
    border-spacing: 1px;
    border-collapse: separate;

    &.completed
    {
        td.internal-cell.fill
        {
            background-color: green;
        }

        td.internal-cell.crossed
        {
            background-color: transparent;
        }
    }

    td.internal-cell
    {
        cursor: pointer;
        transition: background-color .2s;

        &.fill
        {
            background-color: black;
        }

        &.crossed
        {
            background-color: grey;
        }
    }
}

.row-label
{
    border: none;
    text-align: right;
    font-size: 30px;
    height: 50px;
    width: auto;
}

.col-label
{
    border: none;
    font-size: 30px;
    vertical-align: bottom;
}

#content
{
    width: 100%;
    text-align: center;
}


h1
{
    font-family: cursive;
    font-style: oblique;
}