<div class="text-center">
    <h1>Picross!</h1>
</div>

<div class="container">
    <div class="row">
        <form class="col-sm-12 form-inline" id="main-form">
            <input class="form-control" id="rows" type="number" placeholder="Rows" [(ngModel)]="rows" name="rows">
            <span>&times;</span>
            <input class="form-control" id="cols" type="number" placeholder="Cols" [(ngModel)]="cols" name="cols">
            <button type="submit" (click)="generateSchema()" class="btn btn-success">
                <span class="glyphicon glyphicon-refresh"></span>&nbsp;Random
            </button>
            <button type="button" (click)="clearTable()" class="btn btn-danger">
                <span class="glyphicon glyphicon-trash"></span>&nbsp;Clear
            </button>
            <timer></timer>             
        </form>
    </div>
</div>

<div id="overlay" style="display: none"></div>
<picross-component></picross-component>