<div id="content">
    <table *ngIf="initialized" id="picrossTable"
           onselectstart="return false" ondragstart="return false" (mouseleave)="disablePressing()">
        <!-- column labels -->
        <tr>
            <td class="row-label"></td>
            <td *ngFor="let colData of getColsData()" class="col-label">
                <picross-label *ngFor="let val of colData.label"
                               (mouseenter)="disablePressing()"
                               [labelClass]="'col-label-cell'"
                               [text]="val"
                               [status]="colData.status">
                </picross-label>
            </td>
        </tr>

        <tr *ngFor="let rowData of getRowsData(); let r = index">
            <!-- row labels -->
            <td class="row-label">
                <picross-label *ngFor="let val of rowData.label"
                               (mouseenter)="disablePressing()"
                               [labelClass]="'row-label-cell'"
                               [text]="val"
                               [status]="rowData.status">
                </picross-label>
            </td>

            <td *ngFor="let colIndex of range(cols); let c = index">
                <picross-cell [status]="getStatus(r, c)" 
                              [end]="isCompleted"
                              (mouseenter)="onMouseEnterCell(r, c)"
                              (mouseup)="onMouseUpCell()"
                              (mousedown)="onMouseDownCell($event, r, c)">
                </picross-cell>
            </td>
        </tr>
    </table>
</div>